.mysha{
    background-color: rgb(158, 78, 121);
    font-style: oblique;
    padding: 30px 40px 30px;
    border-radius: 10px;
    border-color: rgb(189, 121, 18);
    border-style: dotted;
    height: 400px; width:300px;
   margin: 30px 30 px 30pxs;
    font-size: larger;
    font-weight: bold;
}
li{
    font-weight: bolder;
    color: rgb(16, 16, 15);
    font size: 40px;

}

#another{
    padding:10%;
}
body{
    background-image: url('StockCake-Social\ Media\ Tree_1719943283.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}